<!DOCTYPE html>
<html lang="en" data-framework="backbonejs">
<head>
  <title>The Iron Yearbook</title>
  <%= stylesheet_link_tag    'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<p class="welcome">Welcome to the Iron Yearbook</p>

<%= javascript_include_tag 'application' %>
</body>
</html>
