<div class="container">

<header class="navigation">
  <div class="navigation-wrapper">
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="#ror">Ruby on Rails</a></li>
        <li class="nav-link"><a href="#fee">Front End Engineering</a></li>
        <li class="nav-link"><a href="#both">The Iron Yard First Cohort</a></li>
      </ul>
    </div>
      <%= link_to 'http://academy.smashingboxes.com', class: 'logo' do %>
        <%= image_tag 'tiy-headLogo.png' %>
      <% end %>
      <%= link_to 'Sign in', new_user_session_path, class: 'sign-up' %>
    </div>
  </div>
</header>

<div id="students">
</div>

<div id="profile">
</div>

  <div class="mainWrap">

    <div class="headline">
      <%= image_tag 'button.png', id: "start" %>
      <h1 id="headline">Start something Powerful.</h1>
      <%= image_tag 'iron-yard-logo-finalWht.png', id: 'mainLogo' %>
    </div>
      <div>
        <video id="bgVideo" src="http://cl.ly/350m3K2X0I1V/download/4915400.mp4" autoplay="true" loop="true" muted="true"></video>
      </div>
  </div>
</div>

<script id="studentTemplate" type="text/template">
  <div id="<%%= id %>" class="hover-tile-outer" style="background-image: url('<%%= photo.url %>')">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible">
      </div>
      <div class="hover-tile hover-tile-hidden">
        <h4></h4>
        <p><%%= name %></p>
      </div>
    </div>
  </div>
</script>

<script id="profileTemplate" type="text/template">
<div class="card">
  <div class="card-image">
    <img src="<%%= photo.url %>" alt="">
  </div>
  <div class="card-header">
    <h4><%%= name %></h4>
    <p><%%= group === 'ror' ? 'Ruby on Rails' : 'Front End Engineering' %></p>
  </div>
  <div class="card-copy">
    <p><%%= description %></p>
  </div>
  <div class="card-stats">
    <ul>
      <li><a href="<%%= twitter %>"><i class="fa fa-twitter"></i></a></li>
      <li><a href="<%%= linkedin %>"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="<%%= github %>"><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
</div>
</script>

<script id="#profileTemplate" type="text/template">
  <div class="side-image">
      <div class="content">
        <h4><%%= group === 'ror' ? 'Ruby on Rails' : 'Front End Engineering' %></h4>
        <h1><%%= name %></h1>
        <p><%%= description %></p>
        <a href="<%%= website %>">Personal Website</a>
        <a href="<%%= twitter %>">Twitter</a>
        <a href="<%%= linkedin %>">LinkedIn</a>
        <a href="<%%= github %>">Github</a>
    </div>
  </div>
</script>
